Images/
__pycache__/
Jobs/
Results/
ray_logs/
**/cluster/
**/logs/
**/out/
**/data/
**/results/
**/res_folder/
**/ray_tuning/
**/plots/
**/output*/
.vscode
**/__pycache__/

/configs/ppo/generated/
/utils/trainer/custom/

.ipynb_checkpoints/
__pycache__/
plots/
test.*
test/
vqc_test.py
jobs/
.vscode/*
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.toc
*.run.xml
*.synctex.gz
*.pyg
*.pygtex
*.pygstyle
ray_logs/*
logs/
analytical.py